@font-face {
  font-family: GothamRounded;
  src: url(fonts/gothamrounded-light.otf); }
@font-face {
  font-family: 'ProximaNovaRegular';
  src: url(fonts/proximanova-regular.otf); }
@font-face {
  font-family: ProximaNovaSemibold;
  src: url(fonts/proximanova-semibold.otf); }
h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

header {
  height: 890px;
  background-image: url("../img/main_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff; }
  header .logo {
    color: #fff;
    margin-bottom: 2rem;
    position: relative;
    padding-top: 60px;
    margin-left: 43px;
    margin-bottom: 200px; }
    header .logo:before {
      content: '';
      position: absolute;
      background-image: url("../img/icons/Briefcase.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      left: -40px; }
  header h1 {
    font-family: GothamRounded; }
  header p {
    font-family: ProximaNovaRegular;
    margin: 35px 0; }
  header .dash {
    background: #fff;
    width: 23px;
    height: 1px;
    margin-bottom: 35px; }
  header button {
    font-family: ProximaNovaSemibold;
    color: #ffffff;
    border: 2px solid #fff;
    background: transparent;
    height: 56px;
    width: 155px;
    cursor: pointer; }

#services {
  height: 836px;
  background: #f6f6f6; }
  #services h2 {
    margin-top: 200px; }
  #services .dash {
    margin: 2rem 0 3rem 0;
    background: #000;
    width: 23px;
    height: 1px; }
  #services p {
    width: 23rem;
    font-size: 18px;
    font-family: ProximaNovaRegular;
    color: #888888; }
  #services .types {
    display: flex;
    margin: 14rem 0 0 6rem; }
    #services .types .sq-column {
      transform: rotate(45deg); }
      #services .types .sq-column:nth-child(1) .square:nth-child(1) {
        animation: types 8s ease-in-out infinite; }
      #services .types .sq-column:nth-child(2) .square:nth-child(3) {
        animation: types 8s ease-in-out 2s infinite; }
      #services .types .sq-column:nth-child(3) .square:nth-child(2) {
        animation: types 8s ease-in-out 4s infinite; }
      #services .types .sq-column .square {
        height: 140px;
        width: 140px;
        background: #fff;
        margin: 0 70px 12px 0;
        position: relative;
        transition: all .7s; }
@keyframes types {
  from {
    background: #fff;
    color: #000; }
  8% {
    background: #000;
    color: #fff; }
  16% {
    background: #fff;
    color: #000; }
  to {
    background: #fff;
    color: #000; } }
        #services .types .sq-column .square:hover {
          background: #000;
          color: #ffffff; }
        #services .types .sq-column .square .sq-content {
          position: absolute;
          top: 30px;
          left: -36px;
          width: 12rem;
          transform: rotate(-45deg);
          text-align: center; }
          #services .types .sq-column .square .sq-content img {
            display: block;
            margin: 3px auto; }
          #services .types .sq-column .square .sq-content span {
            font-family: ProximaNovaSemibold;
            font-size: 14px; }

#works {
  height: 300px;
  display: flex;
  align-items: center; }
  #works .dash {
    margin: 2rem 0 3rem 0;
    background: #000;
    width: 23px;
    height: 1px; }
  #works h2 {
    font-weight: 700; }
  #works p {
    width: 23rem;
    font-size: 18px;
    font-family: ProximaNovaRegular;
    color: #888888; }

#project {
  background: #28282e;
  height: 885px; }
  #project h2 {
    margin-top: 200px;
    color: #fff; }
  #project .dash {
    margin: 2rem 0 3rem 0;
    background: #FFF;
    width: 23px;
    height: 1px; }
  #project p {
    width: 23rem;
    font-size: 18px;
    font-family: ProximaNovaRegular;
    color: #fff;
    margin-bottom: 4rem; }
  #project button {
    font-family: ProximaNovaSemibold;
    color: #ffffff;
    border: 2px solid #fff;
    background: transparent;
    height: 56px;
    width: 155px;
    cursor: pointer; }
  #project .nav {
    border: none;
    justify-content: space-evenly; }
    #project .nav a:hover {
      border: none; }
    #project .nav .active {
      background: transparent;
      border: none; }
    #project .nav .nav-link:nth-child(1) .icon2 {
      display: none; }
    #project .nav .nav-link:nth-child(1).active .icon2 {
      display: block; }
    #project .nav .nav-link:nth-child(1).active .icon1 {
      display: none; }
    #project .nav .nav-link:nth-child(2) .icon2 {
      display: none; }
    #project .nav .nav-link:nth-child(2).active .icon2 {
      display: block; }
    #project .nav .nav-link:nth-child(2).active .icon1 {
      display: none; }
    #project .nav .nav-link:nth-child(3) .icon2 {
      display: none; }
    #project .nav .nav-link:nth-child(3).active .icon2 {
      display: block; }
    #project .nav .nav-link:nth-child(3).active .icon1 {
      display: none; }
  #project .devices {
    margin-top: 7rem;
    text-align: center; }
    #project .devices #myTabContent {
      height: 26rem; }

#our_minds p {
  color: #989898; }
#our_minds table {
  width: 100%; }
  #our_minds table p {
    width: 33rem;
    color: #989898; }
  #our_minds table td {
    vertical-align: top; }
  #our_minds table td:nth-child(1) {
    width: 60%; }
  #our_minds table td:nth-child(2) {
    width: 20%; }
  #our_minds table td:nth-child(3) {
    width: 20%; }
  #our_minds table tr:nth-child(odd) {
    border-bottom: 1px solid #c1bdbd; }
  #our_minds table .with_bg {
    background-image: url("../img/table img.png");
    color: #fff; }
    #our_minds table .with_bg p {
      color: #fff; }
#our_minds .all_articles {
  color: red;
  text-align: center;
  display: block;
  margin: 2rem 0; }

#we {
  background: #f6f6f6;
  height: 890px; }

/*# sourceMappingURL=style.css.map */
