@font-face {
    font-family: GothamRounded;
    src: url(fonts/gothamrounded-light.otf);
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url(fonts/proximanova-regular.otf);
}

@font-face {
    font-family: ProximaNovaSemibold;
    src: url(fonts/proximanova-semibold.otf);
}

header {
    height: 890px;
    background-image: url('../img/main_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    .logo {
        color: #fff;
        margin-bottom: 2rem;
        position: relative;
        padding-top: 60px;
        margin-left: 43px;
        margin-bottom: 200px;
        &:before {
            content: '';
            position: absolute;
            background-image: url('../img/icons/Briefcase.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            left: -40px;
        }
    }
    h1 {
        font-family: GothamRounded;
    }
    p {
        font-family: ProximaNovaRegular;
        margin: 35px 0;
    }
    .dash {
        background: #fff;
        width: 23px;
        height: 1px;
        margin-bottom: 35px;
    }
    button {
        font-family: ProximaNovaSemibold;
        color: #ffffff;
        border: 2px solid #fff;
        background: transparent;
        height: 56px;
        width: 155px;
        cursor: pointer;
    }
}

#services {
    height: 836px;
    background: #f6f6f6;
    h2 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        margin-top: 200px;
    }
    .dash {
        margin: 2rem 0 3rem 0;
        background: #000;
        width: 23px;
        height: 1px;
    }
    p {
        width: 23rem;
        font-size: 18px;
        font-family: ProximaNovaRegular;
        color: #888888;
    }
    .types {
        display: flex;
        margin: 14rem 0 0 6rem;
        .sq-column {
            transform: rotate(45deg);
            &:nth-child(1) {
                .square:nth-child(1) {
                    animation: types 8s ease-in-out infinite;
                }
            }
            &:nth-child(2) {
                .square:nth-child(3) {
                    animation: types 8s ease-in-out 2s infinite;
                }
            }
            &:nth-child(3) {
                .square:nth-child(2) {
                    animation: types 8s ease-in-out 4s infinite;
                }
            }
            .square {
                height: 140px;
                width: 140px;
                background: #fff;
                margin: 0 70px 12px 0;
                position: relative;
                transition: all .7s;
                @keyframes types {
                    from {
                        background: #fff;
                        color: #000;
                    }
                    8% {
                        background: #000;
                        color: #fff;
                    }
                    16% {
                        background: #fff;
                        color: #000;
                    }
                    to {
                        background: #fff;
                        color: #000;
                    }
                }
                &:hover {
                    background: #000;
                    color: #ffffff;
                }
                .sq-content {
                    position: absolute;
                    top: 30px;
                    left: -36px;
                    width: 12rem;
                    transform: rotate(-45deg);
                    text-align: center;
                    img {
                        display: block;
                        margin: 3px auto;
                    }
                    span {
                        font-family: ProximaNovaSemibold;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}