@font-face {
    font-family: GothamRounded;
    src: url(fonts/gothamrounded-light.otf);
}

header {
    height: 890px;
    background-image: url('../img/main_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    .logo {
        color: #fff;
        margin-bottom: 2rem;
        position: relative;
        padding-top: 60px;
        margin-left: 43px;
        margin-bottom: 200px;
        &:before {
            content: '';
            position: absolute;
            background-image: url('../img/icons/Briefcase.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            left: -40px;
        }
    }
    h1 {
        font-family: GothamRounded;
    }
}